{# Partie commune a toutes les pages  #}
<div class="wrapper-page">

    <div class="blog-background"></div>
    {# Fin Partie commune a toutes les pages  #}

    <div class="article-page-container">
        <div class="cubes">

        {# Route BLOG  #}
            {% if app.request.get('_route') == 'blog' %}  
            {% for article in articles %}
            <div class="solo-cube">
                <a href="{{ path('article', {slug: article.slug}) }}">
                <img class= "image-cube"src="{{ asset('uploads/' ~ article.image1) }}" alt="image de l'article">
                <span>{{article.title}}</span>
                </a>
            </div> 
            {% endfor %}
            {% endif %}

        {# Route Article par Catégories #}
            {% if app.request.get('_route') == 'article_by_hashtag' %} 
            <div class="blog-title"><h1>Les articles #{{hashtag.name|capitalize}}</h1></div>
            {% for articleByHashtag in articlesByHashtag %}
            <div class="solo-cube">
                <a href="{{ path('article', {slug: articleByHashtag.slug}) }}">
                <img class= "image-cube"src="{{ asset('uploads/' ~ articleByHashtag.image1) }}" alt="image de l'article">
                <span>{{articleByHashtag.title}}</span>
                </a>
            </div> 
            {% endfor %}
            {% endif %}

        {# Partie commune a toutes les pages  #}
        <div class="banner-categories-technologies">
            <img class = "category-button"src="{{ asset('images/boutons/categories.png') }}" alt="">
            {% for hashtag in hashtags %}
            <a href="{{ path('article_by_hashtag', {id: hashtag.id}) }}"><p>{{hashtag.name|capitalize}}</p></a>
            {% endfor %}
            <img class = "category-button"src="{{ asset('images/boutons/technologies.png') }}" alt="">
            {% for technology in technologies %}
            <a href=""><p>{{ technology.name|capitalize}}</p></a>
            {% endfor %}
        </div>
    </div>
</div>
{# FinPartie commune a toutes les pages  #}
 




