<div class="wrapper-page">
    <div class="box-title">
        <div class="page-title">
            <h1><i class="fas fa-pencil-alt"></i> Mes projets</h1>
        </div>
    </div>

    {# Background-image  #}
    <div class="portofolio-background"></div>

    <div class="cards">
        <div class="card">
            <div class="crop-image">
                <a href="https://www.cedricpaje.fr/"><img src="{{ asset('images/projets/projet1-visuel.png') }}
                "></a>
            </div> 
            <div class="card-name">Espoir sur pattes V1</div>
        </div>
        <div class="card">
            <div class="crop-image">
                <a href="https://espoirsurpattes.mariecharton.fr/"><img src="{{ asset('images/projets/projet2-visuel.png') }}"></a>
            </div>
            <div class="card-name">Espoir sur pattes V2</div>
        </div>
        <div class="card">
            <div class="crop-image">
                <a href=""><img src="{{ asset('images/projets/projet5-visuel.png') }}"></a>
            </div>
            <div class="card-name">Fait tes < dev > oirs !</div>
        </div>
        <div class="card">
            <div class="crop-image">
                <img src="{{ asset('images/projets/projet4.png') }}">
            </div>
            <div class="card-name">Des étoiles dans la mer</div>
            <div class= "coming-soon"><img  src="{{ asset('images/coming-soon.png') }}" alt=""></div>
        </div>
        <div class="card">
            <div class="crop-image">
               <img src="{{ asset('images/projets/projet3.jpg') }}">
            </div>
            <div class="card-name">MyLudispace</div>
            <div class= "coming-soon"><img  src="{{ asset('images/coming-soon.png') }}" alt=""></div>
        </div>
    </div>
</div>
