<div class="wrapper-page">
    <div class="box-title">
        <div class="page-title">
            <h1> {{project.name}}</h1>
        </div>
    </div>
    <div class="container-project">
        <h3>Présentation du projet : </h3>
        <p>{{project.presentation|nl2br}}</p>
        <div class="technology-project">
            <h3>Technologies utilisées : </h3>
            <div class="wrapper-technology-button">
                <p class ="technology-button html"> HTML </p>
                <p class ="technology-button css"> CSS </p>
                <p class ="technology-button sass"> Sass </p>
                <p class ="technology-button symfony"> Symfony </p>
                <p class ="technology-button javascript"> Javascript </p>
                <p class ="technology-button phpmyadmin"> PhpMyAdmin </p>
                <p class ="technology-button sql"> SQL </p>
                <p class ="technology-button bootstrap"> Bootstrap </p>
                <p class ="technology-button wordpress"> Wordpress </p>
            </div>
        </div>
        <h3>Deroulé du projet :</h3>   
        <p>{{project.progress|nl2br}}</p>
        <div class="project-preview">
            <div class="project-preview-image">
                <img src="{{ asset('images/projets/' ~ project.image1) }}" alt="" />     
            </div>
            <div class="project-preview-image">
                <img src="{{ asset('images/projets/' ~ project.image2) }}" alt="" />     
            </div>
            <div class="project-preview-image">
                <img src="{{ asset('images/projets/' ~ project.image3) }}" alt="" />     
            </div>
            <div class="project-preview-image">
                <img src="{{ asset('images/projets/' ~ project.image4) }}" alt="" />     
            </div>
        </div>
        <h3>Informations techniques :</h3>   
        <p>{{project.information|nl2br}}</p>
        <div class="project-button">
            <a href=""><img src="{{ asset("images/boutons/visit.png")}}" alt=""></a>           
            <a href=""><img src="{{ asset("images/boutons/code.png")}}" alt=""></a>
        </div>
    </div>

</div>



