<div class="banner-project">
    <img class= "intro-project"src="{{ asset('images/banniere/banniere-projet.png') }}" alt="">
</div>
<div class="section orange">
    <h2 class ="section-title">Mes derniers projets</h2>
    <div class="last-three">
        <div class="box orange-box">
            <div class="image-box">
                <img class= "picture"src="{{ asset('images/projets/projet1.png') }}" alt="">
            </div>
            <h3>Espoir sur Pattes</h3>
            <a href="https://www.cedricpaje.fr/"><button class = " button-round violet-button">Voir le projet</button></a>
        </div>
        <div class="box orange-box">
            <div class="image-box">
                <img class= "picture"src="{{ asset('images/projets/projet2.png') }}" alt="">
            </div>
            <h3>Espoir sur Pattes V2</h3>
            <a href="https://espoirsurpattes.mariecharton.fr/"><button class = " button-round violet-button">Voir le projet</button></a>
        </div>
            <div class="box orange-box">
            <div class="image-box">
                <img class= "picture"src="{{ asset('images/projets/projet4.png') }}" alt="">
            </div>
            <h3>Des étoiles dans la mer</h3>
            <a href="https://desetoilesdanslamer.fr/"><button class = " button-round violet-button">Voir le projet</button></a>
        </div>
    </div>
</div>
<div class="see-all">
    <a href="{{ path ('portofolio')}}"><button class = " button-round see-all-button see-all-button-orange"><i class="far fa-eye"></i> Voir tous les projets</button></a>
</div>

