<div class="banner-project">
    <img class= "intro-image"src="{{ asset('images/banniere/project2.png') }}" alt="">
</div> 
<div class="button-all ">
    <a href="{{ path ('portofolio')}}">Voir tous les projets</a>
</div>
<div class="base-banner orange">
    <div class="cadre"> 
        <a href="{{ path('solo-project', {slug: project1.slug}) }}"><span>{{project1.name}}</span>
        <img src="{{ asset('images/projets/' ~ project1.image1 ) }}">	</a>
    </div>
    <div class="cadre"> 
        <a href="{{ path('solo-project', {slug: project2.slug}) }}"><span>{{project1.name}}</span>
        <img src="{{ asset('images/projets/' ~ project2.image1 ) }}">	</a>
    </div>
    <div class="cadre"> 
        <a href="{{ path('solo-project', {slug: project3.slug}) }}"><span>{{project1.name}}</span>
        <img src="{{ asset('images/projets/' ~ project3.image1 ) }}">	</a>
    </div>
    <div class="cadre"> 
        <a href="{{ path('solo-project', {slug: project1.slug}) }}"><span>{{project1.name}}</span>
        <img src="{{ asset('images/projets/' ~ project1.image1 ) }}">	</a>
    </div>
    <div class="cadre"> 
        <a href="{{ path('solo-project', {slug: project1.slug}) }}"><span>{{project1.name}}</span>
        <img src="{{ asset('images/projets/' ~ project1.image1 ) }}">	</a>
    </div>
</div>








