<div class="banner-techno">
    <img class= "intro-image"src="{{ asset('images/banniere/techno.png') }}" alt="">
</div>
<div class="section violet">
    <h2 class ="section-title">Mes technologies</h2>
    <div class="image-techno">
        <img class = "logo-techno invert mini "src="{{ asset('images/icones/html.png') }}" alt="">
        <img class = "logo-techno invert mini "src="{{ asset('images/icones/css.png') }}" alt="">
        <img class = "logo-techno "src="{{ asset('images/icones/javascript.png') }}" alt="">
        <img class = "logo-techno "src="{{ asset('images/icones/git.png') }}" alt="">
        <img class = "logo-techno "src="{{ asset('images/icones/sass.png') }}" alt="">
        <img class = "logo-techno "src="{{ asset('images/icones/php.png') }}" alt="">
        <img class = "logo-techno invert mini "src="{{ asset('images/icones/symfony.png') }}" alt="">
        <img class = "logo-techno invert "src="{{ asset('images/icones/mysql.png') }}" alt="">
    </div>
</div>