<div class="banner-training">
    <img class= "intro-training"src="{{ asset('images/banniere/banniere-training.png') }}" alt="">
</div>
<div class="section violet">
    <h2 class ="section-title">Mes derniers exercices</h2>
    <div class="last-three">
        <div class="box violet-box">
            <div class="image-box">
                <img class= "picture"src="{{ asset('images/training/cssbattle1.png') }}" alt="">
            </div>
            <h3>CSS BATTLE Target #4 - Ups n Downs</h3>
            <a href=""><button class = " button-round orange-button">Voir l'exercice</button></a>
        </div>
        <div class="box violet-box">
            <div class="image-box">
                <img class= "picture"src="{{ asset('images/training/frontendmentor1.png') }}" alt="">
            </div>
            <h3>FRONT END MENTOR FAQ accordion card</h3>
            <a href=""><button class = " button-round orange-button">Voir l'exercice</button></a>
        </div>
            <div class="box violet-box">
            <div class="image-box">
                <img class= "picture"src="{{ asset('images/projets/projet4.png') }}" alt="">
            </div>
            <h3>Exercice 1</h3>
            <a href=""><button class = " button-round orange-button">Voir l'exercice</button></a>
        </div>
    </div>
</div>
<div class="see-all">
    <a href="{{ path ('training')}}"><button class = " button-round see-all-button see-all-button-violet"><i class="far fa-eye"></i> Voir tous les exercices</button></a>
</div>