<div class="nav-bar">
    <div class="logo">
        <a href="{{ path('homepage') }}"><img title="Retour a l'accueil" class = "logo-image" src="{{ asset('images/logo/logo.png') }}" alt="logo-fais-tes-devoirs"></a>
    </div>
    <nav class="links">
        <p><i class="fas fa-code fa-2x"></i></p>
        <ul>
            <li class="link"><a href="">Portofolio</a></li>
            <li class="link"><a href="">Exercices</a></li>
            <li class="link"><a href=""> CV </a></li>
            <li class="link"><a href=""> Blog </a></li>
            <li class="link"><a href=""> <i class="fas fa-envelope-square"></i> Contact </a></li>
        </ul>
        <p><i class="fas fa-code fa-2x "></i></p>
    </nav>
    <div class="book">
        <img class = "book-image" src="{{ asset('images/book.png') }}" alt="books">
    </div>
</div>

<div class="banner">
    <div class="marie">
        <img class = "img-marie" src="{{ asset('images/marie.jpg') }}" alt="banniere">
    </div>
    <div class="banner-presentation">
        <h1> Qui suis je ? </h1>
        <p class ="presentation" >Je m'apelle Marie, j'ai 36 ans, en reconversion professionnelle depuis octobre 2019, j'ai entrepris une formation de developpeur web chez O'clock. Aprés 700 heures de formation intensive, j'ai terminé par une specialisation Symfony et 1 mois de projet de groupe.
        Sur mon site vous pourrez retrouver mon portofolio, mon CV ainsi que tout les exercices que je pratique au quotodien pour m'entrainer. Dans la partie blog je parlerai de mes aventures dans le domaine du developpement. </p>
    </div>
    <div class="banner-div">
        <img class = "img-banner" src="{{ asset('images/portofoliobanner.jpg') }}" alt="banniere">
    </div>
</div>