{# <div class="banner-social">
    <img class= "intro-social"src="{{ asset('images/banniere/banniere-social.png') }}" alt="">
</div>
<div class="section orange">
    <h2 class ="section-title">Réseaux</h2>
    <h2>#Pro #Dev </h2>
    <div class="social">
        <div class="solo">
            <div class="picture-pro">
                <a href="https://www.linkedin.com/in/marie-charton/"><img class= "logo-pro"src="{{ asset('images/social/linkedin.png') }}" alt="linkedin-icone"></a>
            </div>
            <p>Linkedin</p>
        </div>
        <div class="solo">
            <div class="picture-pro">
                <a href="https://github.com/MarieCharton"><img class= "logo-pro"src="{{ asset('images/social/github.png') }}" alt="github-icone"></a>
            </div>
            <p>Github</p>
        </div>
        <div class="solo">
            <div class="picture-pro">
                <a href="https://welovedevs.com/app/fr/developer/marie-passionnee-motivee-curieuse"><img class= "logo-pro"src="{{ asset('images/social/welovedev.jpg') }}" alt="weLovedev-icone"></a>
            </div>
            <p>WeLoveDev</p>
        </div>     
        <div class="solo">
            <div class="picture-pro battle">
                <a href="https://cssbattle.dev/player/turbolily"><img class= "logo-pro"src="{{ asset('images/social/cssbattle.png') }}" alt="cssbattle-icone"></a>
            </div>
            <p>CSS Battle</p>
        </div>
    </div>
    <h2>#Perso #Hobbies #Passions </h2>
    <div class="social">
        <div class="solo">
            <div class="picture-pro">
                <a href="https://www.myludo.fr/#!/profil/turbolily-1011"><img class= "logo-pro"src="{{ asset('images/social/myludo.png') }}" alt="myludo-icone"></a>
            </div>
            <p>Ma ludothèque </p>
            <p>#jeuxdesocietés #boardgames</p>
        </div>
        <div class="solo">
            <div class="picture-pro">
                <a href="https://www.the-escapers.com/profil/marie-charton"><img class= "logo-pro"src="{{ asset('images/social/theescapers.png') }}" alt="github-icone"></a>
            </div>
            <p>Mes salles d'Escape Game</p>
            <p>#enigmes #puzzles #réflexion</p>
        </div>
        <div class="solo">
            <div class="picture-pro">
                <a href=""><img class= "logo-pro"src="{{ asset('images/social/tvtime.png') }}" alt="tvtime-icone"></a>
            </div>
            <p>Mes séries</p>
            <p>#seriesaddict #Netflix </p>
        </div>     
        <div class="solo">
            <div class="picture-pro battle">
                <a href="https://www.instagram.com/marie_charton21/"><img class= "logo-pro"src="{{ asset('images/social/instagram.png') }}" alt="instagram-icone"></a>
            </div>
            <p>Instagram</p>
            <p>#photossouvenirs</p>
        </div>
    </div>
</div> #}

<div class="social-wrapper">
    <div class="social-box">
        <h2>#PRO</h2>
        <div class="social-box-flex">
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://www.linkedin.com/in/marie-charton/"><img class= "social-image"src="{{ asset('images/social/linkedin.png')}}" alt="linkedin-icone"></a>
                </div>
                <p>Linkedin</p>
            </div>
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://github.com/MarieCharton"><img class= "social-image"src="{{ asset('images/social/github.png') }}" alt="github-icone"></a>
                </div>
                <p>Github</p>
            </div>
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://welovedevs.com/app/fr/developer/marie-passionnee-motivee-curieuse"><img class= "social-image"src="{{ asset('images/social/welovedev.jpg') }}" alt="welovedev-icone"></a>
                </div>
                <p>WeLoveDev</p>
            </div>
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://cssbattle.dev/player/turbolily"><img class= "social-image"src="{{ asset('images/social/cssbattle.png') }}" alt="css-battle-icone"></a>
                </div>
                <p>CSS Battle</p>
            </div>
        </div>
    </div>
    <div class="banner-social">
        <img class= "social-artwork"src="{{ asset('images/banniere/banniere-social.png') }}" alt="">
    </div>
    <div class="social-box">
        <h2>#PERSO</h2>
        <div class="social-box-flex">
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://www.myludo.fr/#!/profil/turbolily-1011"><img class= "social-image"src="{{ asset('images/social/myludo.png') }}" alt="Myludo-icone"></a>
                </div>
                <p><i class="fas fa-dice-six fa-2x"></i></i> Ma ludothèque</p>
                <p class = "hashtag">#jeuxdesocietés #boardgames</p>
            </div>
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://www.the-escapers.com/profil/marie-charton"><img class= "social-image"src="{{ asset('images/social/theescapers.png') }}" alt="escapers-icone"></a>
                </div>
                <p><i class="fas fa-dungeon fa-2x"></i> Mes salles d'Escape Game</p>
                <p class = "hashtag">#enigmes #puzzles #réflexion</p>
            </div>
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://www.tvtime.com/en/user/282151/profile"><img class= "social-image"src="{{ asset('images/social/tvtime.png') }}" alt="tvtime-icone"></a>
                </div>
                <p><i class="fas fa-video fa-2x"></i> Mes séries</p>
                <p>#seriesaddict #Netflix </p>
            </div>
            <div class="solo-social">
                <div class="social-image-box">
                    <a href="https://www.instagram.com/marie_charton21/"><img class= "social-image"src="{{ asset('images/social/instagram.png') }}" alt="instagram-icone"></a>
                </div>
                <p><i class="fas fa-file-image fa-2x"></i> Instagram</p>
                <p>#photossouvenirs</p>
            </div>
        </div>
    </div>
</div>