<div class="banner-social">
    <img class= "intro-social"src="{{ asset('images/banniere/banniere-social.png') }}" alt="">
</div>
<div class="section orange">
    <h2 class ="section-title">Réseaux</h2>
    <h2>#Pro #Dev </h2>
    <div class="social-pro">
        <div class="solo-pro">
            <div class="picture-pro">
                <a href=""><img class= "logo-pro"src="{{ asset('images/social/linkedin.png') }}" alt="linkedin-icone"></a>
            </div>
            <p>Linkedin</p>
        </div>
        <div class="solo-pro">
            <div class="picture-pro">
                <a href=""><img class= "logo-pro"src="{{ asset('images/social/github.png') }}" alt="github-icone"></a>
            </div>
            <p>Github</p>
        </div>
        <div class="solo-pro">
            <div class="picture-pro">
                <a href=""><img class= "logo-pro"src="{{ asset('images/social/welovedev.jpg') }}" alt="weLovedev-icone"></a>
            </div>
            <p>WeLoveDev</p>
        </div>     
        <div class="solo-pro">
            <div class="picture-pro battle">
                <a href="https://cssbattle.dev/player/turbolily"><img class= "logo-pro"src="{{ asset('images/social/cssbattle.png') }}" alt="cssbattle-icone"></a>
            </div>
            <p>CSS Battle</p>
        </div>
    </div>
    <h2>#Perso #Hobbies #Passions </h2>
    <div class="social-pro">
        <div class="solo-pro">
            <div class="picture-pro">
                <a href=""><img class= "logo-pro"src="{{ asset('images/social/myludo.png') }}" alt="myludo-icone"></a>
            </div>
            <p>Ma ludothèque </p>
            <p>#jeuxdesocietés #boardgames</p>
        </div>
        <div class="solo-pro">
            <div class="picture-pro">
                <a href=""><img class= "logo-pro"src="{{ asset('images/social/theescapers.png') }}" alt="github-icone"></a>
            </div>
            <p>Mes salles d'Escape Game</p>
            <p>#enigmes #puzzles #réflexion</p>
        </div>
        <div class="solo-pro">
            <div class="picture-pro">
                <a href=""><img class= "logo-pro"src="{{ asset('images/social/tvtime.png') }}" alt="tvtime-icone"></a>
            </div>
            <p>Mes séries</p>
            <p>#seriesaddict #Netflix </p>
        </div>     
        <div class="solo-pro">
            <div class="picture-pro battle">
                <a href="https://cssbattle.dev/player/turbolily"><img class= "logo-pro"src="{{ asset('images/social/instagram.png') }}" alt="instagram-icone"></a>
            </div>
            <p>Instagram</p>
            <p>#photossouvenirs</p>
        </div>
    </div>
</div>
