<div class="banner-techno">
    <img src="{{ asset('images/banniere/banniere-techno.png') }}" alt="">
</div>
<div class="section violet">
    <h2 class ="section-title">Mes technologies</h2>
    <div class="image-techno">
        <img class = "techno-logo"src="{{ asset('images/icones/pack.png') }}" alt="">
        <img class = "git"src="{{ asset('images/icones/git.png') }}" alt="">
        <img class = "git"src="{{ asset('images/icones/sass.png') }}" alt="">
        <img class = "git"src="{{ asset('images/icones/php.png') }}" alt="">
        <img class = "invert git"src="{{ asset('images/icones/symfony.png') }}" alt="">
        <img class = "invert git"src="{{ asset('images/icones/mysql.png') }}" alt="">
    </div>
</div>